@import "./node_modules/office-ui-fabric-react/dist/sass/Fabric";
body {
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 300px;
    .container {
        .action-btn {
            width: 100%;
            text-align: left;
            max-width: none !important;
            @mixin actionBtnChild {
                display: inline-block;
                margin: 5px;
            }
            >img {
                @include actionBtnChild;
                width: 32px;
            }
            &>div {
                @include actionBtnChild;
                vertical-align: top;
                width: 79.8%;
                margin-top: -5px;
            }
        }
        .ms-List-cell {
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
}