@import '_bootstrap';


body {
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 300px;
}

.navbar {
    margin-bottom: 20px;
    .navbar-brand{
        &.sp-admin {
            height: 60px;
        }
        > img {
            display: inline-block;
        }
    }
}

.sp-admin-option {
    padding: 0;
    > div {
        display: table-cell;
        padding: 10px 15px;
    }
    > .sp-admin-option-title {
        width: 80%;
        &:hover {
            background-color: #337ab7;
            color: white;
        }
    }
    >.sp-admin-option-image {
        width: 15%;
        background-color: #337ab7;
    }
}