@import "bootstrap-sprockets";
@import 'bootstrap';
@import "bootstrap/theme";

body {
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 300px;
}

.page-header{
    margin-top: -15px;
}

.sp-admin-option {
    padding: 0;
    > div {
        display: table-cell;
        padding: 10px 15px;
    }
    > .sp-admin-option-title {
        width: 80%;
    }
    > .sp-admin-option-image {
        width: 15%;
        background-color: #337ab7;        
    }
    &:first-child{
        > .sp-admin-option-image{
            border-top-left-radius: 3px;
        }
        > .sp-admin-option-title{
            border-top-right-radius: 3px;
        }
    }
    &:last-child{
        > .sp-admin-option-image{
            border-bottom-left-radius: 3px;
        }
        > .sp-admin-option-title{
            border-bottom-right-radius: 3px;
        }
    }
    &:hover > .sp-admin-option-title  {
        transition: background-color 1s ease-in-out;
        background-color: #337ab7;
        color: white;
    }
}